*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background:url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    

}
.playbutton
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    border-radius: 20px;
    background-image:linear-gradient(darkred,red,pink);
    columns: white;
    display: flex;
    font-size:larger;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pausebutton
{
    position: sticky;
    top:1%;
    left:90%;
    width: 80px;
    height: 40px;
    color: aliceblue;
    background-image:linear-gradient(darkred,red,pink);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    display: none;
    z-index: 1;

}
.container
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}
.trees{
    position: absolute;
    top:0;
    width: 800vw;
    height: 70%;
    background-repeat: repeat-x;
    background-image: url(trees.png);
    background-size:contain;
    animation: bgmove linear 10s infinite;
    display: none;
    object-fit: cover;
    
}
.track
{
    background-image: url(track.png);
    width: 800vw;
    height: 30%;
    position: absolute;
    top:70%;
    animation: carmove linear 6s infinite ;
    display: none;
    object-fit: cover;
}
.car
{
    width: 400px;
    height: 60px;
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 72%;
    animation: carshake linear 2s infinite;
    display: none;
}
.wheel1
{
    background-image: url(car_wheel_left.png);
    width: 40px;
    height: 40px;
    position: relative;
    top:36%;
    left: 6.3%;
    background-repeat: no-repeat;
    background-size: contain;
    animation: wheelrotate .13s infinite;
    display: none;
}
.wheel2
{
    background-image: url(car_wheel_right.png);
    width: 40px;
    height: 40px;
    position: relative;
    top:-28%;
    left: 33%;
    background-repeat: no-repeat;
    background-size: contain;
    animation: wheelrotate .13s infinite; 
    display:none;
}
@keyframes wheelrotate {
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes carmove {
    100%
    {
        transform: translateX(-500vw);
    }
}
@keyframes bgmove {
    100%
    {
        transform: translateX(-500vw);
    }
}
@keyframes carshake {
    0%
    {
        transform: translateY(-4px);
    }
    50%
    {
        transform: translateY(2px);
    }
    100%
    {
        transform: translateY(-4px);
    }
}
.control
{
    position: relative;
    top: 75vh;
    left: 90vw;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    background-color: rgb(97, 96, 96);
    border-radius: 50%;
    overflow: hidden;
    display: none;
}
.control>.up
{
    position: absolute;
    top: 0%;
    left: 35%;
    background-color: gray;
    color: rgb(0, 0, 0);
}
.control>.horizontal
{
    width: 100%;
    display:flex;
    justify-content: space-between;
    position: absolute;
    top:35%;
    
}
.control>.horizontal>.right
{
    background-color: gray;
    color: black;
}
.control>.horizontal>.left
{
    background-color: gray;
    color: black;
}

.control>.down
{
    position: absolute;
    top:70%;
    left: 35%;
    background-color: gray;
    color: black;
}